

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var();
    font-weight: var();
    background-color: var();
}

.container{
    /* max-width: 1340px; */
    margin: 0 auto;
    padding: 0 20px;
}



.site-main{
    flex-grow: 1;
}
.btn{
    border: none;
    background-color: transparent;
    background-image: url("../images/ima-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 80px;
    
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.form-wrapper{
    position: fixed;
    top: 270px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}